body {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin: auto;
  text-align: center;
  margin-top: 2%;
}



/* ========================================================================*/
/* ! VARIABLES */
/* ========================================================================*/
/* ========================================================================*/
/* ! TYPO */
/* ========================================================================*/
/* --------------------------------------------*/
/* ! COMPOSANTS */
/*---------------------------------------------*/
.bloc {
  color: #FFF;
}

/* ========================================================================*/
/* ! MIXINS & HELPER CLASS */
/* ========================================================================*/
/* --------------------------------------------*/
/* ! HELPER CLASSES */
/*---------------------------------------------*/
.brick {
  background-image: url(multimedia/gif1.gif);
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover;
}
.brick2 {
  background-image: url(multimedia/gif4.gif);
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover;
}

.blue {
  background-image: url(multimedia/gif2.gif);
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: contain;
}

.yellow {
  background-image: url(multimedia/gif6.gif);
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: 100%;
}

.indigo {
  background-image: url(multimedia/gif5.gif);
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: contain;
}

.indigo2 {
  background-image: url(multimedia/gif8.gif);
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: contain;
}

.anthracite {
  background-image: url(multimedia/gif3.gif);
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover;
}

.green {
  background-image: url(multimedia/gif7.gif);
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* --------------------------------------------*/
/* ! DECORATION & EFFECTS */
/*---------------------------------------------*/
/* ========================================================================*/
/* ! LAYOUT */
/* ========================================================================*/
.section-mosaic {
  margin-top: 35px;
}

.section-mosaic + .section-mosaic {
  margin-top: 0;
}

/* ========================================================================*/
/* ! COMPOSANTS */
/* ========================================================================*/
/* --------------------------------------------*/
/* ! MOSAIC */
/*---------------------------------------------*/
.col-small-high-bloc .row .bloc-small {
  bottom: 0;
}
.col-small-high-bloc .bloc-small-parent + .bloc-small-parent {
  top: 15px;
  bottom: 7.5px;
}
.col-small-high-bloc .row .bloc-small {
  top: 21.5px;
  bottom: 0;
}

/* --------------------------------------------*/
/* ! BLOCS MOSAIC */
/*---------------------------------------------*/
.bloc {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.bloc-big-parent .bloc-big {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
}
.bloc-big-parent::before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 68.8%;
  /*DEFINI LA HAUTEUR DU BLOC*/
}

.bloc-high-parent .bloc-high {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
}
.bloc-high-parent::before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 145.5%;
  /*DEFINI LA HAUTEUR DU BLOC*/
}

.bloc-small-parent .bloc-small {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 0;
  left: 15px;
}
.bloc-small-parent::before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 67%;
  /*DEFINI LA HAUTEUR DU BLOC*/
}

@media (min-width: 992px) and (max-width: 1199px) {
  .bloc-big-parent::before {
    padding-bottom: 69.15%;
    /*DEFINI LA HAUTEUR DU BLOC*/
  }

  .bloc-high-parent::before {
    padding-bottom: 148%;
    /*DEFINI LA HAUTEUR DU BLOC*/
  }

  .bloc-small-parent::before {
    padding-bottom: 67%;
    /*DEFINI LA HAUTEUR DU BLOC*/
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bloc-big-parent::before {
    padding-bottom: 66.05%;
    /*DEFINI LA HAUTEUR DU BLOC*/
  }

  .bloc-high-parent .bloc-high {
    top: 45px;
  }
  .bloc-high-parent::before {
    padding-bottom: 93.6%;
  }

  .bloc-small-parent::before {
    padding-bottom: 64.92%;
    /*DEFINI LA HAUTEUR DU BLOC*/
  }
}
@media (max-width: 767px) {
  .bloc-big-parent::before {
    padding-bottom: 66.05%;
    /*DEFINI LA HAUTEUR DU BLOC*/
  }

  .bloc-high-parent .bloc-high {
    top: 45px;
  }
  .bloc-high-parent::before {
    padding-bottom: 73.796%;
  }

  .bloc-small-parent::before {
    padding-bottom: 64.92%;
    /*DEFINI LA HAUTEUR DU BLOC*/
  }
}



body {
  animation: colorchange 0.5s linear 1s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 0.5s linear 0s infinite alternate; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {background: red; color: cyan;}
  33%  {background: green; color: magenta;}
  66%  {background: blue; color: yellow;}
  100% {background: red; color: cyan;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red; color: cyan;}
  33%  {background: green; color: magenta;}
  66%  {background: blue; color: yellow;}
  100% {background: red; color: cyan;}
}