body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    margin: auto;
    text-align: center;
    margin-top: 10%;
}

.botones {
    width: 500px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

a {

    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 15px 3px #e1e1e1;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

#si {
    background-color:#E87F9F;
}

#si2 {
    color: white;
    background-color: black;
}


img {
    width: 200px;
    display:block;
    margin:auto;
    margin-top: 5%;
    border-radius: 5px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}